@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
body {
  font-family: 'Muli', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

}
.row{
  margin: auto;
}
/* NavBar */
.container {
  text-align: center;
  color: white;
}
.centered {
  font-weight: 900;
  width: 14rem;
  font-size: 1.4rem;
  position: absolute;
  margin-top: -40%;
  margin-left: 20%;
  margin-right: 50px;
}
.navbar {
  height: 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-link {
  color: #606060;
  font-size: 80%;
}

.nav-item {
  display: inline;
  padding-right: 70px;
  margin-right: -10px;
}
.support {
  color: #ffffff;
}

.support2{
margin-top: 16px;
margin-right: 20px;
}

.support3{
  padding-top: 5px;
  padding-left: 7px;
  font-size: 0.7rem;
  height: 1.7rem;
  width: 5.5rem;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00FFFF), to(#0067FF));
  background-image: -o-linear-gradient(left, #00FFFF, #0067FF);
  background-image: linear-gradient(to right, #00FFFF, #0067FF);
}
.nav-support{
  width: 6.4rem;
  height: 37px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#00FFFF), to(#0067FF));
  background-image: -o-linear-gradient(left, #00FFFF, #0067FF);
  background-image: linear-gradient(to right, #00FFFF, #0067FF);
}

/* LOGO */

.logo {
  margin-top: 10px;
  height: 50px;
}

/* VIDEO */
video {
  width: 100%;
}

#video-text {
  position: absolute;
  font-weight: 900;
  color: #FFFFFF;
  margin-left: 23%;
  margin-top: 16%;
  font-size: 1rem;
  width: 300px;
}

/* OUR MISSION */
.mission{
  color: #606060;
  width: 60vw;
}
h3 {
  color: #0067ff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 30px;
}

.text {
  color: #606060;
  font-size: 0.8rem;
}
.text-solutions {
  color: #606060;

}
/* HUMANS ERRORS */
.error-image {
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #0067FF;
}

/* GOOGLE MAP */
div#map {
  min-height: 360px;
  height: 60vh;
  margin-bottom: 40px;
}

h4 {
  color: #0067ff;
  padding-bottom: 20px;
  margin-top: 10px;
}

/* Solutions */
h1 {
  color: #0067FF;
  padding-bottom: 20px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* Support */
.background-image {
  height: 700px;
  width: 100%;
  margin-top: -299px;
}
h2 {
  width: 80%;
  margin-top: 100px;
  text-align: center;
  position: absolute;
  color: #ffffff;
}

.support-us {
  position: absolute;
  margin-top: 260px;
  width: 9rem;
  height: 2.1rem;
  font-size: 1.1rem;
  color: #0067ff;
  border-radius: 26px;
  background-color: #ffffff;
  font-weight: 900;
}

/* Footer */
.page-footer {
  background-color: #0a7fab;
}
.list-unstyled,
.copyright,
h5 {
  color: #ffffff;
}
.social {
  word-spacing: 5px;
}
.address {
  margin-right: 15px;
}
.social{
  word-spacing: 5px;
}
.address{
  margin-right: 15px;
}
.copyright {
  margin-top: 40px;
}
/* Media queries */
@media only screen and (min-width: 768px){
  #video-text{
    font-size: 3rem;
    width: 30rem;
  }
  .centered{
    font-size: 3rem;
    width: 30rem;
  }
}

@media only screen and (max-width: 768px) {
.img-fluid{
  width: 100%;
  padding-top: 10px;
  }
}
@media only screen and (max-width: 1023px) {
  .nav-link {
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-left: 30px;
  }
  .nav-support {
    display: none;
}
}

@media only screen and (min-width: 768px) {
  .row-mission {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1450px) {
  .text {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  div#map {
    height: 100vh;
  }
}

@media only screen and (max-width: 375px) {
  .support-us {
    margin-top: 330px;
  }
}

@media only screen and (max-width: 768px) {
  h2{
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1540px) {
  .text-solutions{
    font-size: 1.4rem;
    margin-left: 30px;
  }
  .mission{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px){
  .support2{
    display: none;
  }
}
@media only screen and (max-width: 340px){
  .support2{
    display: none;
  }
}
